{% extends 'basic.html' %}
{% load static %}
{% block title %} Login/Signup - JaggaSale {% endblock %}




{% block css %}
.header{
background-color: #ffffff;
box-shadow: 1px 1px 10px 1px grey;
}
.header a.hm{
background:transparent;
}
.header a{
color:black!important;
}
.header .listing .list a,
.header .listing .refresh,
.header .listing .heart,
.header .listing .user{
border: 1px solid var(--pri-color);
}
.header .listing .list a:hover{
background: var(--pri-color);
color:white!important;
}
.header .menu #bars{
color:var(--pri-color)!important;
}
.header .register a{
color:var(--pri-color)!important;
}
.header .register a:hover{
color:var(--sec-color)!important;
}
section.form{
font-family:'abel';
}
{% endblock %}



{% block body %}
{% if user.is_authenticated %}

<div class="clearfix"></div>



<h1 class="text-center mt-5 mb-5">You cannot access this page !</h1>


{% else %}

<div class="clearfix"></div>
<section class="form">
  <div class="container">
    <div class="row">



      <div class="col-md-2 "> </div>


      <div class="col-md-8 clearfix">
        <div class="second-form">

          <div class="company_logo text-center mb-3">
            <img src="static/images/jagaa_sale_compress_logo.png" height="100px" width="auto" alt="">
          </div>

          <h4 class="text-center text-white font-weight-bold">Password reset successful</h4>

          <p class="text-center text-white font-weight-bold">
            Your password has been changed successfully!!!</p>
        </div>
      </div>

      <div class="col-md-2 "> </div>
    </div>
  </div>
</section>

{% endif %}

{% endblock %}
