{% extends 'basic.html' %}



{% load static %}

{% block title %} Add New Property - JaggaSale {% endblock %}



{% block css%}
<style>
  .header {
    box-shadow: 1px 1px 10px 1px grey;
  }

  .header a.hm {
    background: transparent;
  }

  .header a {
    color: black !important;
  }

  .header .listing .list a,
  .header .listing .refresh,
  .header .listing .heart,
  .header .listing .user {
    border: 1px solid var(--pri-color);
  }

  .header .listing .list a:hover {
    background: var(--pri-color);
    color: white !important;
  }

  .header .menu #bars {
    color: var(--pri-color) !important;
  }

  .header .register a {
    color: var(--pri-color) !important;
  }

  .header .register a:hover {
    color: var(--sec-color) !important;
  }
</style>
{% endblock %}

<!-- <input class="form-control" name="title" type="text" placeholder="Property Title"> -->


{% block body %}
<div class="clearfix"></div>

<!-- <h2 class="text-center" style="font-family:var(--pri-font); text-shadow: 1px 1px 3px grey;margin-bottom:20px;">Add Your Property Here</h2> -->


<section id="Adding_property">
  <h2 class="text-center pt-5" style="font-family:var(--pri-font); text-shadow: 1px 1px 3px grey;margin-bottom:20px;">Add Your Property Here</h2>
  <div class="container pb-5">
    <h5 style="font-family:var(--pri-font); text-shadow: 1px 1px 3px grey;margin-bottom:20px;">Fill all the required fields</h5>

    <div class="add_property_container_box">
      <ul class="nav nav-pills text-center  mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">House</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Apartment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Land</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        {% include  'alert.html' %}
        <!-- Start adding Home section -->
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <form method="post" enctype='multipart/form-data'>
            {% csrf_token %}

            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">

                  <!-- (Startig) selecting House as default category from javascript -->
                  {{ form.category }}

                  <script>
                    (function() {
                      var id_category = document.getElementById('id_category').value = 'H';
                    })();
                  </script>
                  <style>
                    #id_category {
                      display: none !important;
                    }
                  </style>
                  <!-- (Ending) selecting House as default category from javascript -->

                  <label>Title</label>
                  <br>
                  {{ form.title }}
                  <!-- {{ form.title.errors }} -->
                </div>
              </div><!-- ending of column  -->

              <div class="col-sm-4">
                <div class="form-group">
                  <label">Location</label>
                    <br>
                    {{ form.location }}
                    <!-- {{ form.location.errors }} -->
                </div>
              </div><!-- ending of column  -->


              <div class="col-sm-4">
                <div class="form-group">
                  <label>Area(Sq ft)</label>
                  <br>
                  {{ form.area }}
                  {{ form.area.errors }}
                </div>
              </div><!-- ending of column  -->
            </div><!-- ending of row  -->




            <!-- Starting of second row -->
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Rooms</label>
                  <br>
                  {{ form.rooms }}
                  {{ form.rooms.errors }}
                </div>
              </div><!-- ending of column  -->

              <div class="col-sm-4">
                <div class="form-group">
                  <label>Bathrooms</label>
                  <br>
                  {{ form.bathrooms }}
                  {{ form.bathrooms.errors }}
                </div>
              </div><!-- ending of column  -->


              <div class="col-sm-4">
                <div class="form-group">
                  <label>Floors</label>
                  <br>
                  {{ form.floors }}
                  {{ form.floors.errors }}
                </div>
              </div><!-- ending of column  -->
            </div><!-- ending of row  -->




            <!-- Description text -->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group" id="id_description_box">
                  <label for="Description">Description</label>
                  <br>
                  {{ form.Description }}
                  {{ form.description.errors }}

                  <!-- <textarea class="form-control name="description" shadow-none" id="Description" rows="5"></textarea> -->
                </div>

              </div>
            </div>




            <!-- Starting of custom checkbox -->
            <div class="row">
              <div class="col-sm-3">
                <div class="custom-control custom-checkbox">
                  <!-- <input type="checkbox" class="custom-control-input" id="Parking"> -->
                  {{form.have_parking}}
                  <label class="custom-control-label" for="id_have_parking">Parking</label>
                </div>
              </div>

              <script>
                let have_parking = document.querySelector("#id_have_parking");
                have_parking.classList.add("custom-control-input");
              </script>

              <div class="col-sm-3">
                <div class="custom-control custom-checkbox">

                  <!-- <input type="checkbox" class="custom-control-input" id="Garden"> -->
                  {{form.have_garden}}
                  <label class="custom-control-label" for="id_have_garden">Garden</label>
                </div>
              </div>
              <script>
                let garden = document.querySelector("#id_have_garden");
                garden.classList.add("custom-control-input");
              </script>

              <div class="col-sm-3">
                <div class="custom-control custom-checkbox">
                  <!-- <input type="checkbox" class="custom-control-input" id="Drinage"> -->
                  {{form.have_drinage}}

                  <label class="custom-control-label" for="id_have_drinage">Drinage</label>
                </div>
              </div>
              <script>
                let Drinage = document.querySelector("#id_have_drinage");
                Drinage.classList.add("custom-control-input");
              </script>

              <div class="col-sm-3">
                <div class="custom-control custom-checkbox">
                  <!-- <input type="checkbox" class="custom-control-input" id="Balcony"> -->
                  {{form.have_balcony}}

                  <label class="custom-control-label" for="id_have_balcony">Balcony</label>
                </div>
              </div>
              <script>
                let have_balcony = document.querySelector("#id_have_balcony");
                have_balcony.classList.add("custom-control-input");
              </script>
            </div>


            <div class="row mt-2">
              <div class="col-sm-3">
                <div class="custom-control custom-checkbox">
                  <!-- <input type="checkbox" class="custom-control-input" id="Hall"> -->
                  {{form.have_hallRoom}}
                  <label class="custom-control-label" for="id_have_hallRoom">Hall room</label>
                </div>
              </div>
              <script>
                let have_hallRoom = document.querySelector("#id_have_hallRoom");
                have_hallRoom.classList.add("custom-control-input");
              </script>

              <div class="col-sm-3">
                <div class="custom-control custom-checkbox">
                  <!-- <input type="checkbox" class="custom-control-input" id="Dining"> -->
                  {{form.have_diningRoom}}

                  <label class="custom-control-label" for="id_have_diningRoom">Dining Room</label>
                </div>
              </div>
              <script>
                let have_diningRoom = document.querySelector("#id_have_diningRoom");
                have_diningRoom.classList.add("custom-control-input");
              </script>

              <div class="col-sm-3">
                <div class="custom-control custom-checkbox">
                  <!-- <input type="checkbox" class="custom-control-input" id="Elevator"> -->
                  {{form.have_elevator}}
                  <label class="custom-control-label" for="id_have_elevator">Elevator</label>
                </div>
              </div>
              <script>
                let have_elevator = document.querySelector("#id_have_elevator");
                have_elevator.classList.add("custom-control-input");
              </script>

              <div class="col-sm-3">
                <div class="custom-control custom-checkbox">
                  <!-- <input type="checkbox" class="custom-control-input" id="Water"> -->
                  {{form.have_water}}

                  <label class="custom-control-label" for="id_have_water">Water</label>
                </div>
              </div>
              <script>
                let have_water = document.querySelector("#id_have_water");
                have_water.classList.add("custom-control-input");
              </script>
            </div>

            <div class="row mt-3">
              <div class="col-sm-12">
                <div id="map"></div>
                <pre id="coordinates" class="coordinates"></pre>

                <script>
                  mapboxgl.accessToken = 'pk.eyJ1Ijoic2FkaXNoMDkiLCJhIjoiY2ttdGUwMDRvMHF0ejJ3czFidGZidTBscCJ9.qesxX1VtX3mGwc5HBKeyGg';
                  var coordinates = document.getElementById('coordinates');
                  var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v11',
                    center: [85.323177540036, 27.67488957525255],
                    zoom: 11
                  });

                  var marker = new mapboxgl.Marker({
                      draggable: true
                    })
                    .setLngLat([85.323177540036, 27.67488957525255])
                    .addTo(map);

                  function onDragEnd() {
                    var lngLat = marker.getLngLat();
                    coordinates.style.display = 'block';
                    coordinates.innerHTML =
                      'Longitude: ' + lngLat.lng + '<br />Latitude: ' + lngLat.lat;
                      let Longitude = lngLat.lng;
                      let Latitude = lngLat.lat;

                      document.getElementById("id_Latitude").value=Latitude;
                      document.getElementById("id_Longitude").value=Longitude;

                  }


                    marker.on('dragend', onDragEnd);

                </script>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-sm-6">
                <label class="text-secondary mt-3">Latitude and longitude of the property. Just drag the pointer to your property</label>
                </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Latitude</label>
                  <br>
                  {{ form.Latitude }}
                  <script>
                    alert(Latitude)
                  </script>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <label>Longitude</label>
                  <br>
                  {{ form.Longitude }}
                </div>
              </div>
            </div>




            <div class="row ">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Phone Number</label>
                  <br>
                  {{ form.phone_number }}
                  <!-- {{ form.phone_number.errors }} -->
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label>Price</label>
                  <br>
                  {{ form.price }}
                  <!-- {{ form.price.errors }} -->
                </div>
              </div>
            </div>


            <!-- Image Upload Section -->
            <div class="row">
              <div class="col-sm-12">
                <div class="custom-file">
                  {{ form.image }}
                  {{ form.image.errors }}
                </div>
              </div>
            </div>



            <div class="row ">
              <div class="form-group  mt-3 ml-3">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
        <!-- Ending of adding home section -->




        <!-- staring of adding Apartment section -->
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <form method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">

                  <!-- (Startig) selecting House as default category from javascript -->
                  {{ form.category }}

                  <script>
                    (function() {
                      var id_category = document.getElementById('id_category').value = 'A';
                    })();
                  </script>
                  <style>
                    #id_category {
                      display: none !important;
                    }
                  </style>
                  <!-- (Ending) selecting House as default category from javascript -->


                  <label>Title</label>
                  <!-- <input class="form-control" type="text" placeholder="Property Title"> -->
                  <br>
                  {{ form.title }}
                </div>
              </div><!-- ending of column  -->

              <div class="col-sm-4">
                <div class="form-group">
                  <label>Location</label>
                  <br>
                  {{ form.location }}
                  <!-- {{ form.location.errors }} -->
                </div>
              </div><!-- ending of column  -->


              <div class="col-sm-4">
                <div class="form-group">
                  <label>Built Date</label>
                  <!-- <input class="form-control" type="date" placeholder="Area(Sq ft)"> -->
                  {{ form.built_date }}
                </div>
              </div><!-- ending of column  -->
            </div><!-- ending of row  -->




            <!-- Starting of second row -->
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Rooms</label>
                  <!-- <input class="form-control" type="number" min="0" placeholder="No. of Rooms"> -->
                  {{ form.rooms }}
                </div>
              </div><!-- ending of column  -->

              <div class="col-sm-4">
                <div class="form-group">
                  <label>Bathrooms</label>
                  <!-- <input class="form-control" type="number" min="0" placeholder="No. of Bathrooms"> -->
                  {{ form.bathrooms }}
                </div>
              </div><!-- ending of column  -->


              <div class="col-sm-4">
                <div class="form-group">
                  <label>Area Face</label>
                  <!-- <select class="form-control">
                    <option selected>East</option>
                    <option>West</option>
                    <option>North</option>
                    <option>South</option>
                  </select> -->
                  {{ form.area_face }}
                </div>
              </div><!-- ending of column  -->
            </div><!-- ending of row  -->




            <!-- Description text -->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="Description">Description</label>
                  <br>
                  <!-- <textarea class="form-control shadow-none" id="Description" rows="5"></textarea> -->
                  {{ form.Description }}
                </div>
              </div>
            </div>




            <!-- Starting of custom checkbox -->
            <div class="row">
              <div class="col-sm-3">
                <div class="custom-control custom-checkbox">
                  <!-- <input type="checkbox" class="custom-control-input" id="Parking"> -->
                  {{form.have_parking}}
                  <label class="custom-control-label" for="id_have_parking">Parking</label>
                </div>
              </div>
              <script>
                let have_parking = document.querySelector("#id_have_parking");
                have_parking.classList.add("custom-control-input");
              </script>

              <div class="col-sm-3">
                <div class="custom-control custom-checkbox">
                  <!-- <input type="checkbox" class="custom-control-input" id="Electricity"> -->
                  {{form.have_electricityBackup}}
                  <label class="custom-control-label" for="Electricity">Electricity Backup</label>
                </div>
              </div>
              <script>
                let have_balcony = document.querySelector("#id_have_electricityBackup");
                have_electricityBackup.classList.add("custom-control-input");
              </script>

              <div class="col-sm-3">
                <div class="custom-control custom-checkbox">
                  <!-- <input type="checkbox" class="custom-control-input" id="Drinage"> -->
                  {{form.have_drinage}}
                  <label class="custom-control-label" for="Drinage">Drinage</label>
                </div>
              </div>
              <script>
                let have_drinage = document.querySelector("#id_have_drinage");
                have_drinage.classList.add("custom-control-input");
              </script>

              <div class="col-sm-3">
                <div class="custom-control custom-checkbox">
                  <!-- <input type="checkbox" class="custom-control-input" id="Security"> -->
                  {{form.have_securityStaff}}
                  <label class="custom-control-label" for="Security">Security Staff</label>
                </div>
              </div>
            </div>
            <script>
              let have_securityStaff = document.querySelector("#id_have_securityStaff");
              have_securityStaff.classList.add("custom-control-input");
            </script>


            <div class="row mt-2">
              <div class="col-sm-3">
                <div class="custom-control custom-checkbox">
                  <!-- <input type="checkbox" class="custom-control-input" id="Lift"> -->
                  {{form.have_lift}}
                  <label class="custom-control-label" for="Lift">Lift</label>
                </div>
              </div>
              <script>
                let have_lift = document.querySelector("#id_have_lift");
                have_lift.classList.add("custom-control-input");
              </script>

              <div class="col-sm-3">
                <div class="custom-control custom-checkbox">
                  <!-- <input type="checkbox" class="custom-control-input" id="Dining"> -->
                  {{form.have_diningRoom}}
                  <label class="custom-control-label" for="Dining">Dining Room</label>
                </div>
              </div>
              <script>
                let have_diningRoom = document.querySelector("#id_have_diningRoom");
                have_diningRoom.classList.add("custom-control-input");
              </script>

              <div class="col-sm-3">
                <div class="custom-control custom-checkbox">
                  <!-- <input type="checkbox" class="custom-control-input" id="Kids"> -->
                  {{form.have_kidsPlayground}}
                  <label class="custom-control-label" for="Kids">Kids playground</label>
                </div>
              </div>
              <script>
                let have_kidsPlayground = document.querySelector("#id_have_kidsPlayground");
                have_kidsPlayground.classList.add("custom-control-input");
              </script>

              <div class="col-sm-3">
                <div class="custom-control custom-checkbox">
                  <!-- <input type="checkbox" class="custom-control-input" id="Water"> -->
                  {{form.have_water}}
                  <label class="custom-control-label" for="Water">Water Supply</label>
                </div>
              </div>
              <script>
                let have_water = document.querySelector("#id_have_water");
                have_water.classList.add("custom-control-input");
              </script>
            </div>






            <div class="row mt-4">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Phone Number</label>
                  <!-- <input class="form-control" type="number" min="0" placeholder="Discount price"> -->
                  <br>
                  {{ form.phone_number }}
                  <!-- {{ form.phone_number.errors }} -->
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label>Price</label>
                  <!-- <input class="form-control" type="number" min="0" placeholder="Final Price of property"> -->
                  <br>
                  {{ form.price }}
                  <!-- {{ form.price.errors }} -->
                </div>
              </div>
            </div>


            <!-- Image Upload Section -->
            <div class="row">
              <div class="col-sm-12">
                <div class="custom-file">
                  <!-- <input type="file" class="custom-file-input" id="customFile" multiple> -->
                  <!-- <label class="custom-file-label" for="customFile">Choose file</label> -->
                  {{ form.image }}
                  {{ form.image.errors }}
                </div>
              </div>
            </div>


            <div class="row ">
              <div class="form-group  mt-3 ml-3">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
        <!-- Ending of adding Apartment section -->





        <!-- staring of adding Land section -->
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
          <form>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Title</label>
                  <input class="form-control" type="text" placeholder="Property Title">
                </div>
              </div><!-- ending of column  -->

              <div class="col-sm-4">
                <div class="form-group">
                  <label>Location</label>
                  <select class="form-control">
                    <option selected>Kathmandu</option>
                    <option>Bhaktapur</option>
                    <option>Lalitpur</option>
                  </select>
                </div>
              </div><!-- ending of column  -->


              <div class="col-sm-4">
                <div class="form-group">
                  <label>Total area (Aana)</label>
                  <input class="form-control" type="number" placeholder="Aana">
                </div>
              </div><!-- ending of column  -->
            </div><!-- ending of row  -->





            <!-- Description text -->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="Description">Description</label>
                  <textarea class="form-control shadow-none" id="Description" rows="5"></textarea>
                </div>
              </div>
            </div>




            <!-- Starting of custom checkbox -->

            <div class="row ">
              <div class="col-sm-3">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="Electricity">
                  <label class="custom-control-label" for="Electricity">Electricity Pole</label>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="Drinage">
                  <label class="custom-control-label" for="Drinage">Drinage</label>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="Road">
                  <label class="custom-control-label" for="Road">Road</label>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="Water">
                  <label class="custom-control-label" for="Water">Water Supply</label>
                </div>
              </div>
            </div>






            <div class="row mt-4">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Road type</label>
                  <select class="form-control">
                    <option selected>Gravelled</option>
                    <option>Paved</option>
                    <option>Black Topped</option>
                  </select>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label>Price</label>
                  <input class="form-control" type="number" min="0" placeholder="Final Price of property">
                </div>
              </div>
            </div>


            <!-- Image Upload Section -->
            <div class="row">
              <div class="col-sm-12">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile" multiple>
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
              </div>
            </div>



            <div class="row ">
              <div class="form-group  mt-3 ml-3">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>

        </div>
        <!-- Ending of adding Land section -->
      </div>
    </div>






  </div>
</section>










{% endblock%}
