{% extends 'basic.html' %}

{% block title %} Home - JaggaSale {% endblock %}
{% load static %}

<!-- ----------------------------------------Start of banner section--------------------------- -->
<!-- ----------------------------------------Coded by sadish--------------------------- -->

{% block body %}



<section class="banner">
  <div class="flex-type">
    <div class="container text-center text-white title">
      <div class="title-text">
        <strong>THE BEST WAY TO</strong>
        <h1>Find Your Perfect Home</h1>
      </div>
    </div>
    {% include  'alert.html' %}
    <div class="container buy-rent-sold">

      <div class="nab d-flex align-items-center justify-content-center mt-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="buy-tab" data-toggle="tab" href="#buy" role="tab" aria-controls="buy" aria-selected="true">Buy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="rent-tab" data-toggle="tab" href="#rent" role="tab" aria-controls="rent" aria-selected="false">Rent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="sold-tab" data-toggle="tab" href="#sold" role="tab" aria-controls="sold" aria-selected="false">Sold</a>
          </li>
        </ul>
      </div>

      <!-- ---------------------------Buy Tab Pane--------------------------------- -->
      <!-- ----------------------------------------Coded by sadish--------------------------- -->

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active pt-4 px-3" id="buy" role="tabpanel" aria-labelledby="buy-tab">
          <form method='get' action='/search' id="Search">
            <div class="container">
              <div class="row">

                <div class="col-lg-2">
                  <div class="form-group">
                    <select class="custom-select pl-4" id="inputGroupSelect01" name="category" style="border-radius: 0;height:50px;box-shadow: none;border:none;outline:none; ">
                      <option value="1">House</option>
                      <option value="2">Room/Apartment</option>
                      <option value="3">Townhome</option>
                    </select>
                  </div>
                </div>


                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="text" spellcheck="false" name="search" class="form-control" placeholder="Search" style="border-radius: 0; height:50px; box-shadow: none;border:none;outline:none;">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="row">
                    <div class="col-lg-8">
                      <div class="search form-group">
                        <!-- <button type="submit" name="button"> submit</button> -->
                        <a href="#" onclick="document.getElementById('Search').submit()" class="btn text-white form-control"><i class="fas fa-search mr-1"></i><span> SEARCH</span></a>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div id="advanced" class=" advance text-center text-white form-group">
                        <span style="user-select:none;transition:.5s;">Advanced Search </span><span><i style="transition:.5s;" class="fas fa-angle-down"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div id="anemities" class="container text-white anemity " style="transition:1s;">
            <div class="row ">

              <div class="col-lg-6 col-md-6 range">
                <label for="customRange1">Min Price: <span class="ml-3 rss">Rs. </span><span id="demo1"></span></label>
                <input type="range" class="custom-range" min="10000" max="100000" value="50000" id="customRange1">
                <label for="customRange2">Max Price: <span class="ml-3 rss">Rs. </span><span id="demo2"></span></label>
                <input type="range" class="custom-range" min="100000" max="1000000" value="800000" id="customRange2">
              </div>
              <div class="col-lg-6 col-md-6 range">
                <label for="customRange3">Min Square Feet: <span class="ml-3 rss"> </span><span id="demo3"></span></label>
                <input type="range" class="custom-range" min="10" max="1000" value="400" id="customRange3">
                <label for="customRange4">Max Square Feet: <span class="ml-3 rss"> </span><span id="demo4"></span></label>
                <input type="range" class="custom-range" min="1000" max="40000" value="20000" id="customRange4">
              </div>



            </div>
          </div>





        </div>


        <!-- --------------------------Rent Tab pane---------------------  -->
        <!-- ----------------------------------------Coded by sadish--------------------------- -->

        <div class="tab-pane fade pt-4 px-3" id="rent" role="tabpanel" aria-labelledby="rent-tab">
          <div class="container">
            <div class="row">
              <div class="col-lg-3">
                <div class="form-group">
                  <select class="custom-select pl-4" id="inputGroupSelect01" style="border-radius: 0;height:50px;box-shadow: none;border:none;outline:none; ">
                    <option value="1">Apartments</option>
                    <option value="2">Office</option>
                    <option value="3">Townhome</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" spellcheck="false" class="form-control" placeholder="Search" style="border-radius: 0; height:50px; box-shadow: none;border:none;outline:none;">
                </div>
              </div>
              <div class="col-lg-3">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="search form-group">
                      <a href="#" class="btn text-white form-control"><i class="fas fa-search mr-1"></i><span> SEARCH</span></a>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div id="advanced1" class=" advance text-center text-white form-group">
                      <span style="user-select:none;transition:.5s;">Advanced Search </span><span><i style="transition:.5s;" class="fas fa-angle-down"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

<!-- Apartment Advance search -->
<div id="anemities1" class="container text-white anemity " style="transition:1s;">
  <div class="row ">

    <div class="col-lg-6 col-md-6 range">
      <label for="customRange1">Min Price: <span class="ml-3 rss">Rs. </span><span id="demo1"></span></label>
      <input type="range" class="custom-range" min="10000" max="100000" value="50000" id="customRange1"> <br>
      <label for="customRange2">Max Price: <span class="ml-3 rss">Rs. </span><span id="demo2"></span></label>
      <input type="range" class="custom-range" min="100000" max="1000000" value="800000" id="customRange2">
    </div>
    <div class="col-lg-6 col-md-6 range">
      <label for="customRange3">Min Square Feet: <span class="ml-3 rss"> </span><span id="demo3"></span></label>
      <input type="range" class="custom-range" min="10" max="1000" value="400" id="customRange3">
      <label for="customRange4">Max Square Feet: <span class="ml-3 rss"> </span><span id="demo4"></span></label>
      <input type="range" class="custom-range" min="1000" max="40000" value="20000" id="customRange4">
    </div>
  </div>
</div>

        </div>

        <!-- ---------------------------------Sold tab Pane----------------------------- -->
        <!-- ----------------------------------------Coded by sadish--------------------------- -->

        <div class="tab-pane fade pt-4 px-3" id="sold" role="tabpanel" aria-labelledby="sold-tab">
          <div class="container">
            <div class="row">
              <div class="col-lg-3">
                <div class="form-group">
                  <select class="custom-select pl-4" id="inputGroupSelect01" style="border-radius: 0;height:50px;box-shadow: none;border:none;outline:none; ">
                    <option value="1">Apartments</option>
                    <option value="2">Office</option>
                    <option value="3">Townhome</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" spellcheck="false" class="form-control" placeholder="Search" style="border-radius: 0; height:50px; box-shadow: none;border:none;outline:none;">
                </div>
              </div>
              <div class="col-lg-3">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="search form-group">
                      <a href="#" class="btn text-white form-control"><i class="fas fa-search mr-1"></i><span> SEARCH</span></a>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div id="advanced2" class=" advance text-center text-white form-group">
                      <span style="user-select:none;transition:.5s;">Advanced Search </span><span><i style="transition:.5s;" class="fas fa-angle-down"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="anemities2" class="container text-white anemity " style="transition:1s;">

            <div class="row">



              <div class="col-lg-6 col-md-6  range">
                <label for="customRange9">Min Price: <span class="ml-3 rss">Rs. </span><span id="demo9"></span></label>
                <input type="range" class="custom-range" min="10000" max="100000" value="50000" id="customRange9">
                <label for="customRange10">Max Price: <span class="ml-3 rss">Rs. </span><span id="demo10"></span></label>
                <input type="range" class="custom-range" min="100000" max="1000000" value="800000" id="customRange10">
              </div>
              <div class="col-lg-6 col-md-6 range">
                <label for="customRange11">Min Square Feet: <span class="ml-3 rss"> </span><span id="demo11"></span></label>
                <input type="range" class="custom-range" min="10" max="1000" value="400" id="customRange11">
                <label for="customRange12">Max Square Feet: <span class="ml-3 rss"> </span><span id="demo12"></span></label>
                <input type="range" class="custom-range" min="1000" max="40000" value="20000" id="customRange12">
              </div>



            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>



<!-- ----------------------------------------End of banner section--------------------------- -->

<!-- ----------------------------------------Coded by sadish--------------------------- -->

<!-- ---------------------------------------Start of Featured Properties------------------------------ -->

<section class="featured bg-light">

  <div class="container title d-flex mb-5" style="justify-content: space-between">
    <h1>FEATURED PROPERTIES</h1>
    <p class="mt-2">
      <span class="icon"><i class="fas fa-home"></i>1300+</span><span class="icon-text"> AVAILABLE PROPERTIES</span>
    </p>
  </div>
  <div class="container">

    <div class="ml-4 mr-4">

      <div id="owl-featured-property" class="owl-carousel owl-theme">
        {% for object in item_list %}

        <div class="card">
          <div class="card-img" style="position: relative;overflow:hidden;">
            <div class="img-box" style="height:210px">
              <img src="{{object.image.url}}" height="100%" width="100%">
            </div>
            <a href="property/{{object.id}}">
              <div class="img-overlay"></div>
            </a>
            <div class="badge badge1 px-2 py-1 badge-success">{{object.get_label_display}}</div>
            <div class="badge badge2 px-2 py-1"><i class="fas fa-camera"></i> {{object.picture_count}}</div>
            <div class="home-heart">
              <i id="home1" class="fas mx-1 py-2 fa-home"></i>
              <i id="heart1" class="fas mx-1 py-2 fa-heart"></i>
            </div>
          </div>
          <div class="container px-4">
            <div class="card-title mt-3">
              <a href="/property/{{object.id}}">{{object.title}}</a>
            </div>
            <div class="card-content mt-3">
              <div class="row room">
                <div class="col-lg-6">
                  <p><i class="fas fa-home"></i> {{object.get_category_display}}</p>
                </div>
                <div class="col-lg-6">
                  <p><i class="fas fa-ruler-combined"></i> {{object.area}} sq ft</p>
                </div>
                <div class="col-lg-6">
                  <p><i class="fas fa-bed"></i> {{object.rooms}} Rooms</p>
                </div>
                <div class="col-lg-6">
                  <p> <i class="fas fa-clock"></i> {{object.date}}</p>
                </div>
              </div>
              <hr style="border-top:.5px solid lightgrey">
              <div class="car-footer pb-4">

                <strike>Rs. {{object.discount_price}}</strike>

                <span style="color:black;font-weight:bold;" class="ml-3">Rs. {{object.price}}</span>

              </div>
            </div>
          </div>
        </div>


        {% endfor %}


      </div>

    </div>
  </div>

</section>



<!-- ---------------------------------------End of Featured Properties------------------------------ -->

<!-- ----------------------------------------Coded by sadish--------------------------- -->

<!-- ----------------------------------Start of Properties For Sold----------------------------------- -->

<section class="sold-property pb-0 featured">
  <div class="container title d-flex mb-5" style="justify-content: space-between">
    <h1>PROPERTIES FOR SOLD</h1>
    <p class="mt-2">
      <span class="icon"><i style="color:var(--sec-color)" class="fas fa-hand-holding-usd"></i></span><span style="color:grey;"> ALL PROPERTIES</span><span style="color:var(--pri-color)" class="icon-text"> FOR SOLD</span>
    </p>
  </div>
  <div class="container">
    <div id="owl-sold-property" class="owl-carousel owl-theme">
      {% for object in object_list %}
      {% if object.category == "H" %}
      <div class="item sold-item">
        <div class="card mb-5" style="padding:15px;">
          <div class="card-img" style="position: relative;overflow:hidden;">
            <div class="img-box">
              <img src="{{object.image.url}}" height="230px">
            </div>
            <a href="">
              <div class="img-overlay"></div>
            </a>
            <div class="badge badge1 px-2 py-1 badge-danger">SOLD</div>
            <div class="badge badge2 px-2 py-1"><i class="fas fa-camera"></i> 15</div>
            <div class="home-heart">
              <i id="home4" class="fas mx-1 py-2 fa-home"></i>
              <i id="heart4" class="fas mx-1 py-2 fa-heart"></i>
            </div>
          </div>

          <div class="card-title mt-3">
            <a href="/property/{{i.id}}">{{object.title}}</a>
          </div>
          <div class="car-footer">
            <strike>Rs. 34,00,000/mo</strike> <br> <span style="color:black;font-weight:bold;">Rs. 2,80,000/mo</span>
          </div>
          <hr style="border-top:.5px solid lightgrey">
          <div class="card-content d-flex" style="justify-content: space-between">
            <div class="bed room">
              <i class="fas fa-bed"></i> 5
            </div>
            <div class="bath room">
              <i class="fas fa-bath"></i> 2
            </div>
            <div class="year room">
              <i class="fas fa-clock"></i> 2019
            </div>
          </div>

        </div>
      </div>
      {% endif %}
      {% endfor %}



      <!--
        <div class="item rent-item">
            <div class="card" style="padding:15px;">
                <div class="card-img"style="position: relative;overflow:hidden;">
                    <div class="img-box">
                        <img src="static/pics/9.jpg" height="230px">
                    </div>
                    <a href=""><div class="img-overlay"></div></a>
                    <div class="badge badge1 px-2 py-1 badge-danger">RENT</div>
                    <div class="badge badge2 px-2 py-1"><i class="fas fa-camera"></i> 18</div>
                    <div class="home-heart">
                        <i id="home11" class="fas mx-1 py-2 fa-home"></i>
                        <i id="heart11" class="fas mx-1 py-2 fa-heart"></i>
                    </div>
                </div>

                <div class="card-title mt-3">
                    <a href="#" >House In Khichapokhari</a>
                </div>
                <div class="car-footer">
                    <strike>Rs. 50,00,000/mo</strike> <br> <span style="color:black;font-weight:bold;" >Rs. 45,00,000/mo</span>
                </div>
                <hr style="border-top:.5px solid lightgrey">
                <div class="card-content d-flex" style="justify-content: space-between">
                    <div class="bed room">
                        <i class="fas fa-bed"></i> 10
                    </div>
                    <div class="bath room">
                        <i class="fas fa-bath"></i> 5
                    </div>
                    <div class="year room">
                        <i class="fas fa-clock"></i> 2018
                    </div>
                </div>

            </div>
        </div>
 -->



    </div>
  </div>
</section>

<!-- ----------------------------------End of Properties For Sold----------------------------------- -->

<!-- ----------------------------------Coded by sadish----------------------------------- -->
<div class="container">
  <hr style="border-top:1px solid grey;">
</div>

<!-- ----------------------------------Start of Properties For rent----------------------------------- -->

<section class="rent-property sold-property pb-0 featured">
  <div class="container title d-flex mb-5" style="justify-content: space-between">
    <h1>PROPERTIES FOR RENT</h1>
    <p class="mt-2">
      <span class="icon"><i style="color:var(--sec-color)" class="fas fa-hand-holding-usd"></i></span><span style="color:grey;"> ALL PROPERTIES</span><span style="color:var(--pri-color)" class="icon-text"> FOR RENT</span>
    </p>
  </div>
  <div class="container">
    {% for object in object_list %}
    {% if object.category == "A" and "H"%}
    <div id="owl-rent-property" class="owl-carousel owl-theme">
      <div class="item rent-item">
        <div class="card mb-5" style="padding:15px;">
          <div class="card-img" style="position: relative;overflow:hidden;">
            <div class="img-box">
              <img src="{{object.image.url}}" height="230px">
            </div>
            <a href="">
              <div class="img-overlay"></div>
            </a>
            <div class="badge badge1 px-2 py-1 badge-danger">RENT</div>
            <div class="badge badge2 px-2 py-1"><i class="fas fa-camera"></i> {{object.picture_count}}</div>
            <div class="home-heart">
              <i id="home9" class="fas mx-1 py-2 fa-home"></i>
              <i id="heart9" class="fas mx-1 py-2 fa-heart"></i>
            </div>
          </div>

          <div class="card-title mt-3">
            <a href="#">{{object.title}}</a>
          </div>
          <div class="car-footer">
            <strike>Rs. {{object.discount_price}}/mo</strike> <br> <span style="color:black;font-weight:bold;">Rs. {{object.price}}/mo</span>
          </div>
          <hr style="border-top:.5px solid lightgrey">
          <div class="card-content d-flex" style="justify-content: space-between">
            <div class="bed room">
              <i class="fas fa-bed"></i> 5
            </div>
            <div class="bath room">
              <i class="fas fa-bath"></i> 2
            </div>
            <div class="year room">
              <i class="fas fa-clock"></i> 2019
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  {% endif %}
  {% endfor %}

</section>




<!-- ----------------------------------End of Properties For rent----------------------------------- -->

<!-- ----------------------------------Coded by sadish-------------------------------------- -->

<!-- -----------------------------------Start of New Home-------------------- -->

<section class="new-home mt-5">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 my-3">
        <a href="new-home.php" class="card px-4 py-5" data-mh="icon-text">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center justify-content-center">
              <div class="icon">
                <i class="fas fa-search-dollar fa-5x"></i>
              </div>
            </div>
            <div class="col-lg-9 d-flex align-items-center justify-content-center">
              <div class="icon-text">
                <span>Looking for the new home?</span><br><br>
                <p>10 new offers every day. 350 offers on site, trusted by a community of thousands of users.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 my-3">
        <a href="registerform.php" class="card px-4 py-5" data-mh="icon-text">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center justify-content-center">
              <div class="icon">
                <i class="fab fa-sellsy fa-5x"></i>
              </div>
            </div>
            <div class="col-lg-9 d-flex align-items-center justify-content-center">
              <div class="icon-text">
                <span>Want to Sell your home?</span><br><br>
                <p>10 new offers every day. 350 offers on site, trusted by a community of thousands of users. </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</section>


<!-- -----------------------------------End of New Home-------------------- -->

<!-- ----------------------------------Coded by sadish-------------------------------------- -->

<!-- -----------------------------------Start of City Properties-------------------- -->

<section class="city-property">
  <div class="container">
    <h1 class="mb-5">PROPERTIES BY CITIES</h1>
    <div class="row">
      <div class="col-lg-6 col-md-6 my-4">
        <a href="#" class="card card">
          <div class="card-img">
            <img src="static/pics/city1.jpg" height="100%" width="100%">
          </div>
          <div class="card-text text-center">
            <h4>NAXAL</h4>
            <p>10 PROPERTIES</p>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 my-4">
        <a href="#" class="card card">
          <div class="card-img">
            <img src="static/pics/city2.jpg" height="100%" width="100%">
          </div>
          <div class="card-text text-center">
            <h4>PULCHOWK</h4>
            <p>3 PROPERTIES</p>
          </div>
        </a>
      </div>
    </div>
    <div class="row ">
      <div class="col-lg-4 col-md-4 my-4">
        <a href="#" class="card card">
          <div class="card-img">
            <img src="static/pics/city3.jpg" height="100%" width="100%">
          </div>
          <div class="card-text text-center">
            <h4>NEW ROAD</h4>
            <p>8 PROPERTIES</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 my-4">
        <a href="#" class="card card">
          <div class="card-img">
            <img src="static/pics/city4.jpg" height="100%" width="100%">
          </div>
          <div class="card-text text-center">
            <h4>HATTISAR</h4>
            <p>13 PROPERTIES</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 my-4">
        <a href="#" class="card card">
          <div class="card-img">
            <img src="static/pics/city5.jpg" height="100%" width="100%">
          </div>
          <div class="card-text text-center">
            <h4>RNAC</h4>
            <p>12 PROPERTIES</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- -----------------------------------End of City Properties-------------------- -->

<!-- ------------------------------Sadish Codes---------------------------- -->

<!-- --------------------------------------Start of Why Choose Us------------------------------ -->
<section class="whychooseus">
  <div class="container">
    <h1 class="text-center">Why Choose Us</h1>

    <div class="row mt-5">

      <div class="col-lg-4">
        <div class="why d-flex" data-mh="height">
          <i class="fas fa-users"></i>
          <div class="text">
            <h6>TRUSTED BY THOUSANDS</h6>
            <p>10 new offers every day. 350 offers on site, trusted by a community of thousands of users.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="why d-flex" data-mh="height">
          <i class="fas fa-copy"></i>
          <div class="text">
            <h6>WIDE RANGE OF PROPERTIES</h6>
            <p>With a robust selection of popular properties on hand, as well as leading properties from real estate experts.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="why  d-flex" data-mh="height">
          <i class="fas fa-hand-holding-usd"></i>
          <div class="text">
            <h6> FINANCING MADE EASY</h6>
            <p>Our stress-free finance department that can find financial solutions to save you money.</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<!-- --------------------------------------End of Why Choose Us------------------------------ -->

<!-- ------------------------------Sadish Codes---------------------------- -->

<!-- --------------------------------------Start of Becom Agent------------------------------ -->

<section class="becomeagent">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="become d-flex">
            <i class="fas fa-users-cog"></i>
            <h1>Become a Real Estate Agent</h1>
          </div>
        </div>
        <div class="col-md-4">
          <div class="button">
            <a href="registerform.php" class="btn"> <i class="fas fa-user"></i>Register Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- --------------------------------------End of Becom Agent------------------------------ -->

<!-- ------------------------------sadish Codes---------------------------- -->

<!-- --------------------------------------Start of Our Partners------------------------------ -->


<section class="ourpartners">
  <div class="container">
    <h1 class="text-center">Our Partners</h1>

    <div class="row images">
      <div class="col-lg-3 col-md-6 my-4">
        <img src="static/images/1p.png">
      </div>

      <div class="col-lg-3 col-md-6 my-4">
        <img src="static/images/2p.png">
      </div>

      <div class="col-lg-3 col-md-6 my-4">
        <img src="static/images/3p.png">
      </div>

      <div class="col-lg-3 col-md-6 my-4">
        <img src="static/images/4p.png">
      </div>
    </div>
  </div>
</section>



{% endblock  %}
<!-- --------------------------------------End of Our Partners------------------------------ -->

{% include 'footer.html' %}
