{% extends 'basic.html' %}
{% load static %}
{% block title %} Login - JaggaSale {% endblock %}




{% block css %}
.header{
  background-color: #ffffff;
box-shadow: 1px 1px 10px 1px grey;
}
.header a.hm{
background:transparent;
}
.header a{
color:black!important;
}
.header .listing .list a,
.header .listing .refresh,
.header .listing .heart,
.header .listing .user{
border: 1px solid var(--pri-color);
}
.header .listing .list a:hover{
background: var(--pri-color);
color:white!important;
}
.header .menu #bars{
color:var(--pri-color)!important;
}
.header .register a{
color:var(--pri-color)!important;
}
.header .register a:hover{
color:var(--sec-color)!important;
}
section.form{
font-family:'abel';
}
{% endblock %}



{% block body %}
{% if user.is_authenticated %}

<div class="clearfix"></div>




<h1 class="text-center mt-5 mb-5">You cannot access this page !</h1>


{% else %}

<section class="form ">
  <div class="container" id="Full_login_form">
    <div class="row mt-5">

      <div class="col-md-3 "> </div>

{% include  'alert.html' %}



      <div class="col-md-6 clearfix">

        <div class="first-form">
          <!-- <h4 class="text-center">Sign in</h4> -->
          <div class="company_logo text-center mb-3">
            <img src="static/images/jagaa_sale_compress_logo.png" height="100px" width="auto" alt="">
          </div>

          <form action="/welcome" method="post">
            {% csrf_token %}
            <p>Username</p>
            <input spellcheck="false" type="text" class="form-control" id="loginusername" name="loginusername" placeholder="Enter username" required>

            <p>Password</p>
            <input spellcheck="false" type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder="Enter password" required>


            <div class="custom-control custom-checkbox">
              <input spellcheck="false" type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Remember me</label>

            </div>
            <div class="text-right" style='margin-top:-10px;'>
              <a href="{% url 'reset_password' %}" class="text-right"> Forget password?</a>

            </div>
            <button class="btn form-control" type="submit"> SIGN IN </button>

            <div class="create_new_account text-center mt-2">
              <a href="{% url 'signup' %}" class="text-center">Create a new account</a>
            </div>

          </form>
        </div>
      </div>

      <div class="col-md-3 "> </div>

    </div>
  </div>
</section>

{% endif %}

{% endblock %}
