{% extends 'basic.html' %}
{% load static %}
{% block title %}  About - JaggaSale {% endblock %}


{% block css %}
  .header {
    box-shadow: 1px 1px 10px 1px grey;
  }

  .header a.hm {
    background: transparent;
  }

  .header a {
    color: black !important;
  }

  .header .listing .list a,
  .header .listing .refresh,
  .header .listing .heart,
  .header .listing .user {
    border: 1px solid var(--pri-color);
  }

  .header .listing .list a:hover {
    background: var(--pri-color);
    color: white !important;
  }

  .header .menu #bars {
    color: var(--pri-color) !important;
  }

  .header .register a {
    color: var(--pri-color) !important;
  }

  .header .register a:hover {
    color: var(--sec-color) !important;
  }
 {% endblock %}

{% block body %}

<div class="clearfix"></div>




 <section class="profile_section mt-5 mb-5">
   <div class="container">

<h1 class="text-center mt-5 mb-5" style"  font-Family: 'Farro', sans-serif;">Personal information</h1>
                      <table class="table">
                      <tr>
                        <th scope="row">1</th>
                        <td>Username</td>
                        <td>{{ user.username }}</td>
                        <td><button type="button" class="btn btn-primary disabled" disabled>Change</button></td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Name</td>
                        <td>{{ user.first_name}} {{ user.last_name }} </td>
                        <td><form class="form-inline my-2 my-lg-0">
                              <input class="form-control mr-sm-2" type="text" placeholder="Full Name" >
                              <button type="button" class="btn btn-primary">Change</button> </form></td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Email</td>
                        <td>{{ user.email }}</td>
                        <td> <form class="form-inline my-2 my-lg-0">
                              <input class="form-control mr-sm-2" type="email" placeholder="Email" >
                              <button type="button" class="btn btn-primary">Change</button>
                            </form> </td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Password</td>
                        <td>**********</td>
                        <td> <form class="form-inline my-2 my-lg-0" method="POST">
                          {% csrf_token %}
                            {{ form  }}
                              <input class="form-control mr-sm-2" type="password" name="form" placeholder="**********" >
                              <button type="submit" class="btn btn-primary">Change</button></form></td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>Last login</td>
                        <td>{{ user.last_login }} </td>
                        <td><button type="button" class="btn btn-primary disabled" disabled>Change</button></td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>Joined date</td>
                        <td>{{ user.date_joined }}</td>
                        <td><button type="button" class="btn btn-primary disabled" disabled>Change</button></td>
                      </tr>

                      <style>
                        .table td{
                          font-weight: bold;
                        }
                      </style>


                  </table>



   </div>
 </section>



 {% endblock %}
